body {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
  h3 {
    color: #ffcc00;
  }
  
  #badges, #streak-box {
    background-color: #333333;
    color: #ffffff;
  }
  
  a {
    color: #ffcc00;
  }
  